@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* @font-face {
  font-family: 'Raleway';
  src: url('/fonts/') format('truetype');
} */

@font-face {
  font-family: 'Raleway-Black'; 
  src: url('/fonts/raleway/Raleway-Black.ttf'); 
}
@font-face {
  font-family: 'Raleway-Bold'; 
  src: url('/fonts/raleway/Raleway-Bold.ttf'); 
}
@font-face {
  font-family: 'Raleway-ExtraBold'; 
  src: url('/fonts/raleway/Raleway-ExtraBold.ttf'); 
}
@font-face {
  font-family: 'Raleway-ThinLight'; 
  src: url('/fonts/raleway/Raleway-Thin.ttf'); 
}
@font-face {
  font-family: 'Raleway-ExtraLight'; 
  src: url('/fonts/raleway/Raleway-ExtraLight.ttf'); 
}
@font-face {
  font-family: 'Raleway-Light'; 
  src: url('/fonts/raleway/Raleway-Light.ttf'); 
}
@font-face {
  font-family: 'Raleway-LightItalic'; 
  src: url('/fonts/raleway/Raleway-LightItalic.ttf'); 
}
@font-face {
  font-family: 'Raleway'; 
  src: url('/fonts/raleway/Raleway-Regular.ttf'); 
}
@font-face {
  font-family: 'Raleway-SemiBold'; 
  src: url('/fonts/raleway/Raleway-SemiBold.ttf'); 
}
@font-face {
  font-family: 'Raleway-SemiBoldItalic'; 
  src: url('/fonts/raleway/Raleway-SemiBoldItalic.ttf'); 
}
@font-face {
  font-family: 'Raleway-Thin'; 
  src: url('/fonts/raleway/Raleway-Thin.ttf'); 
}
@font-face {
  font-family: 'Raleway-ThinItalic'; 
  src: url('/fonts/raleway/Raleway-ThinItalic.ttf'); 
}
@font-face {
  font-family: 'Raleway-Medium'; 
  src: url('/fonts/raleway/Raleway-Medium.ttf'); 
}
@font-face {
  font-family: 'Raleway-MediumItalic'; 
  src: url('/fonts/raleway/Raleway-MediumItalic.ttf'); 
}
@font-face {
  font-family: 'Source Sans Pro'; 
  src: url('/fonts/sourcesanspro/SourceSansPro-Regular.ttf'); 
}
@font-face {
  font-family: 'Source Sans Pro Black'; 
  src: url('/fonts/sourcesanspro/SourceSansPro-Black.ttf'); 
}
@font-face {
  font-family: 'Source Sans Pro Bold'; 
  src: url('/fonts/sourcesanspro/SourceSansPro-Bold.ttf'); 
}
@font-face {
  font-family: 'Source Sans Pro Light'; 
  src: url('/fonts/sourcesanspro/SourceSansPro-Light.ttf'); 
}
@font-face {
  font-family: 'Source Sans Pro Extra Light'; 
  src: url('/fonts/sourcesanspro/SourceSansPro-ExtraLight.ttf'); 
}
@font-face {
  font-family: 'Source Sans Pro Semi Bold'; 
  src: url('/fonts/sourcesanspro/SourceSansPro-SemiBold.ttf'); 
}
@font-face {
  font-family: 'Source Sans Pro Italic'; 
  src: url('/fonts/sourcesanspro/SourceSansPro-Italic.ttf'); 
}





.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px;
}

@media (min-width: 1200px) {
  .container {
      width: 1140px;
      max-width: 100%;
  }
}

@media (max-width: 992px) {
  .container {
      width: 960px;
      max-width: 100%;
  }
}

@media (max-width: 768px) {
  .container {
      width: 720px;
      max-width: 100%;
  }
}

@media (max-width: 576px) {
  .container {
      width: 540px;
      max-width: 100%;
  }
}

@media (min-width: 1200px), (max-width: 992px), (max-width: 768px), (max-width: 576px) {
  .container {
      padding-right: 15px;
      padding-left: 15px;
  }
}